.header {
    position: relative;
    height: 100vh;
    background-color: $grey-color;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__img {
    border-radius: 10px;
    overflow: hidden;
    filter: blur(7px);
    opacity: 0;
    transition: all 1s;

    
}

.header__wrapper {
    position: absolute;
    border-radius: 50%;
    background-color: $white-color;
    opacity: 0;
    width: 100%;
    height: 100vh;
    transform: scaleX(0),scaleY(0);
    overflow: hidden;
    z-index: 1;
    // color: $black-color;

    // .header__content {
	// 	filter: invert(100%);
	// }
}




.header__nav {
    padding-top: 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    color: $black-color;
    transition: all 1s;
    z-index: 5;
}


// HEADER CONTENT

.header__content {
    position: relative;
    --position: 50%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;

    
}












